<div class="container">

  <div class="col-md-10 col-md-offset-1 col-xs-12">
  	

    <div class="row">
      <p><b><a href="">{{ topic.user_name}}</a></b>  posted a question:</p>
      <div class="well">
      <h4 class="ml_20"><i><b>{{ topic.topic}}</b></i></h4>
      <p class="pull-right"><i ng-bind="topic.created_at |   date:'medium'"></i></p>
      <h4 class="ml_20" ng-bind="topic.description"></h4>
      <p class="ml_20" ng-init="post.count = topic.post.length">( Number of answers: {{topic.post.length}} )</p>
      </div>

      <!-- print out asnwers under the question -->
      <div class="posts">
        <ul ng-repeat="post in topic.post | filter: filter_name | orderBy: '-like'" >
            <li class="well">
              <span><a href="" ng-bind="post.user_name"></a></span>
              <h4 ng-bind="post.post">
              </h4> 
              <p ng-bind="post.support"></p>
              <p>
                  <!-- LIKE AND DISLIKES -->
                  <a href="" ng-click="addLike(post)"><span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                  </a> {{post.like}} like(s)  
                   |  
                  <a href="" ng-click="addDislike(post)"><span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                  </a> {{post.dislike}} dislike(s)
              <i class="pull-right" ng-bind="topic.created_at |   date:'medium'"></i>
              </p>
               <br>
            </li>
        </ul>
      </div>
    </div>
  </div>
</div>
